version: "2.1"
services:
  exporter:
    image: danielqsj/kafka-exporter:{{ exporter_versions.kafka }}
    container_name: "{{ kafka_prefix }}-exporter-{{ groups['kafka'].index(inventory_hostname) | int + 1 }}"
    restart: always
    command: "--kafka.server={{ kafka_prefix }}-{{ groups['kafka'].index(inventory_hostname) | int + 1 }}:{{ kafka_ports.server }}"
    network_mode: host
    user: "12345"
  exporter-jmx:
    image: solsson/kafka-prometheus-jmx-exporter:{{ exporter_versions.jmx }}
    container_name: "{{ kafka_prefix }}-exporter-jmx-{{ groups['kafka'].index(inventory_hostname) | int + 1 }}"
    restart: always
    command: "5556 /etc/jmx-kafka/config.yml"
    network_mode: host
    user: "12345"
    volumes:
      - "{{ persistence_path }}/exporter:/etc/jmx-kafka:ro"
  exporter-zoo:
    image: dabealu/zookeeper-exporter:{{ exporter_versions.zoo }}
    container_name: "{{ kafka_prefix }}-exporter-zoo-{{ groups['kafka'].index(inventory_hostname) | int + 1 }}"
    restart: always
    network_mode: host
    command: "--zk-host={{ zoo_prefix }}-{{ groups['kafka'].index(inventory_hostname) | int + 1 }} --timeout=30"
    user: "12345"
